
*{
  box-sizing: border-box;
}


html{
  background-color: #ece0d1;
}

header{
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgb(219, 193, 172)), url("https://www.coffeeaddress.com/file/2018/06/26/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid white;
  border-radius: 12px;
  margin: 0px 0px 15px 0px;
  padding: 30px 20px 20px 20px;
}


#grid-container{
  display:grid;
  grid-template-rows: auto auto auto;

}

nav{
  display: flex;
  justify-content: center;
  margin: 10px 0px 12px 0px;

}

nav a{
  font-family: "Covered By Your Grace";
  font-size: 20pt;
  border: 2px solid white;
  padding: 1px 5px 1px 5px;
  margin: 0px 15px 0px 15px;
  color: white;
  background-color: rgba(56, 34, 15, .7);

  border-radius: 10px;
}

header h1{
  display: flex;
  font-family: "Covered by Your Grace";
  color:white;
  font-size: 48pt;
  font-weight: 700;
  justify-content: center;
  padding: 5px;
  width: auto;
  margin: auto;
  

}
header h1:hover{
  color: #38220f;
  letter-spacing: 15px;

}


a{
  font-weight: 800;
  text-decoration: none;

}

#blog-container{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.blogcard{
  width: 450px;
  min-height: 200px;
  padding: 5px 15px 15px 15px;
  background-color: #dbc1ac;
  border: 3px solid #f2f2f2;
  border-radius: 15px;

}



p{
  color: #38220f;
  font-family: "Open Sans";
  font-size: 11pt;
}

nav a:hover{
  text-decoration: underline;
  background-color: #dbc1ac;
  color: #38220f;

}

.myButton {
	box-shadow:inset 0px 1px 0px -50px #a6827e;
	background:linear-gradient(to bottom, #bf9973 5%, #2b1a08 100%);
	background-color:#bf9973;
	border-radius:9px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#f7f7f7;
	font-family:Courier New;
	font-size:12px;
	padding:8px 15px;
	text-decoration:none;
	text-shadow:-50px 2px 32px #4d3534;
}
.myButton:hover {
	background:linear-gradient(to bottom, #2b1a08 5%, #bf9973 100%);
	background-color:#2b1a08;
}
.myButton:active {
	position:relative;
	top:1px;
}



#blog1 img, #blog3 img, #blog5 img {
  max-width: 200px;
  max-height: 200px;
  margin: 10px;
  float: left;
}

#blog2 img, #blog4 img, #blog6 img{
  width: 200px;
  height: 200px;
  margin: 10px;
  float: right;
}

img{
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  background-position:center;
  background-size:cover;
}

#blog1 h2, #blog2 h2, #blog3 h2, #blog4 h2, #blog5 h2, #blog6 h2{
  text-align: center;
  font-family: "Covered By Your Grace";
  font-size: 22pt;
  font-weight: 550;
  color: #38220f;

}

.blogcard{
  margin: 10px;
}

.blogcard:hover{
  background-color: #bf9973ce; 
  
}


footer{
  width: 100%;
  margin: 0px;
  background-image: linear-gradient(#bf9973, rgba(56, 34, 15));
  color: white;
  padding: 10px;
  border: 2px solid #dbc1ac;
  border-radius: 5px;
}

footer p{
  font-family: "Covered By Your Grace";
  font-size: 18px;
  color: white;
}
@media (min-width: 800px) and (max-width: 1200px){
  #blog1, #blog2, #blog3, #blog4, #blog5, #blog6{
    width: 400px;
    height: 350px;
  }
  #blog-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: auto;
  } 
}
@media (min-width:1201px) {
    #blog1, #blog2, #blog3, #blog4, #blog5, #blog6{
      width: 400px;
      height: 350px;

    }
    #blog-container{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
    } 
  }