
*{
  box-sizing: border-box;
}


html{
  background-color: #ece0d1;
}

header{
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgb(219, 193, 172)), url("https://www.coffeeaddress.com/file/2018/06/26/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid white;
  border-radius: 12px;
  margin: 0px 0px 15px 0px;
}


#grid-container{
  display:grid;
  grid-template-rows: auto auto auto;

}

nav{
  display: flex;
  justify-content: center;
  margin: 10px 0px 12px 0px;

}

nav a{
  font-family: "Covered By Your Grace";
  font-size: 20pt;
  border: 2px solid white;
  padding: 1px 10px 1px 10px;
  margin: 0px 15px 0px 15px;
  color: white;
  background-color: rgba(56, 34, 15, .7);

  border-radius: 10px;
}

header h1{
  display: flex;
  font-family: "Covered by Your Grace";
  color:white;
  font-size: 48pt;
  font-weight: 700;
  justify-content: center;
  padding: 30px 20px 20px 20px;
  margin: auto;

}



a{
  font-weight: 800;
  text-decoration: none;

}

#blog-container{
  display: flex;
  flex-direction: column;
  align-items: center;

}

#blog1, #blog2, #blog3, #blog4, #blog5, #blog6{
  width: 450px;
  min-height: 200px;
  padding: 15px;
  background-color: #dbc1ac;
  border: 3px solid #38220f;

  border-radius: 15px;

}

p{
  color: #38220f;
}

a:hover{
  text-decoration: underline;
}

.button{
  width: 100px;
  height: 30px;
  background-color: #38220f;
  color: white;
  border-radius: 5px;
}

#blog1 img, #blog3 img, #blog5 img {
  max-width: 200px;
  max-height: 200px;
  padding: 0px 20px 20px 20px;
  float: left;
}

#blog2 img, #blog4 img, #blog6 img{
  width: 200px;
  height: 200px;
  padding: 0px 20px 20px 20px;
  float: right;
}

img{
  border: 2px solid red;
  border-radius: 20px;
  background-position:center;
  background-size:cover;
}

#blog1 h2, #blog2 h2, #blog3 h2, #blog4 h2, #blog5 h2, #blog6 h2{
  text-align: center;
  font-family: "Covered By Your Grace";
  font-size: 22pt;
  font-weight: 550;
  color: #38220f;

}

.blogcard{
  margin: 10px;
}

footer{
  width: 100%;
  margin: 0px;
  background-color: #38220f;
  color:white;
  padding: 10px;
  border: 5px solid #dbc1ac;
  border-radius: 5px;
}

@media (min-width: 800px) and (max-width: 1200px){
  #blog1, #blog2, #blog3, #blog4, #blog5, #blog6{
    width: 400px;
    height: 350px;
  }
  #blog-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: auto;
  } 
}
@media (min-width:1201px) {
    #blog1, #blog2, #blog3, #blog4, #blog5, #blog6{
      width: 400px;
      height: 350px;

    }
    #blog-container{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
    } 
  }