
/*{
  /border: 2px solid red;
}
*/

#grid-container{
  display:grid;
  grid-template-rows: auto auto auto;

}

nav{
  display: flex;
  justify-content: center;
  margin: 10px 0px 12px 0px;
}

nav a{

  margin: 0px 15px 0px 15px;
  color: rgb(51, 143, 248);
}

header h1{
  display: flex;
  font-weight: 200;
  justify-content: center;
  padding: 30px 20px 20px 20px;
  margin: auto;

}

h1, h2, a, p{
  font-family: 'Courier New', Courier, monospace;
}

a{
  font-weight: 800;
  text-decoration: none;
}

#blog-container{
  display: flex;
  flex-direction: column;
  align-items: center;

}

#blog1, #blog2, #blog3, #blog4, #blog5, #blog6{
  width: 95%;
  min-height: 200px;
  background-color:#e0e0e0;
}

#blog1 img, #blog3 img, #blog5 img {
  width: 200px;
  height: 200px;
  padding: 0px 20px 20px 20px;
  float: left;
}

#blog2 img, #blog4 img, #blog6 img{
  width: 200px;
  height: 200px;
  padding: 0px 20px 20px 20px;
  float: right;
}

#blog1 h2, #blog2 h2, #blog3 h2, #blog4 h2, #blog5 h2, #blog6 h2{
  text-align: center;
  font-weight: 550;
}

.blogcard{
  margin: 10px;
}

footer{
  background-color: #4b4b4b;
  color: white;
  padding: 10px;
}